body{

    background-image: url('images/elmo_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 50% right -695px;
    background-color: rgba(16,16,16,255);
    
    color: whitesmoke;
    font-family: 'YouMurderer BB', sans-serif;
    font-size: 50px;
    margin: 50px;
    text-align: center;

    
}
a:hover{
    color:darkred;
}
.blood{
    color: red;
    text-decoration: none;
}
